body {
    background-color: #e7ecef;
    display: flex;
    position: fixed;
    /* display: grid; */
    margin: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

body * {
    margin: 0;
}

#contenido {
    flex: 2;
    height: 100vh;
}

.circulos_niveles {
    position: absolute;
    border-style: dotted;
    stroke: #6096ba;
    fill: transparent;
    opacity: 0.7;
    stroke-dasharray: 15;
}

#controles {
    flex: 1;
    /* grid-column: 1/3; */
    /* background-color: #6096ba; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 4fr);
    row-gap: 60px;
}

#titulo_barchart{
    grid-column: 2/10;
    grid-row: 1;
    text-align: center;
    transform: translate(0, 35px);
    font-size: 15px;
}

#contenedor_barchart {
    /* background-color: #8b8c89; */
    grid-column: 2/10;
    grid-row: 2/7;
    border-radius: 2%;
}

#barchart {
    /* position: relative; */
    height: 100%;
    width: calc(100% - 20px);
    margin: 10px;
}

#contX text {
    font-size: 10;
    opacity: 0;
}

#contY line {
    stroke-dasharray: 5;
    opacity: 0.3;
}

#contenedor_labels {
    /* background-color: #6096ba; */
    grid-column: 2/10;
    grid-row: 7/11;
    /* margin: 5px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 3px;
}

.label {
    font-size: 10px;
    height: 16%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.label text {
    grid-column: 2;
    grid-row: 1;
}

.label svg {
    grid-column: 1;
    height: 8px;
    width: 8px;
    top: 0;
}

.nodo {
    stroke:black;
    stroke-width: 0.3px;
    stroke-opacity: 0.3;
}

.bar {
    stroke: black;
    stroke-width: 0.2;
}

#informacion {
    grid-row: 12/17;
    grid-column: 2/10;
    /* background-color: #6096ba; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: 14px;
}

#informacion * {
    margin: 5px;
}

#info_sigla {
    grid-row: 0;
    grid-column: 1/3;
    border-bottom: 0.1px solid black;
    margin-left: 0px;
}

#info_nombre {
    grid-row: 1;
    grid-column: 3/6;
    border-bottom: 0.1px solid black;
    margin-right: 0;
}

#info_escuela {
    grid-row: 2;
    grid-column: 1/3;
}

#info_requistos {
    grid-row: 3/7;
    grid-column: 1/6;
}